# Docker Hub логин
DOCKER_USERNAME=moodroow

# Тег образа
TAG=latest

# База данных
DB_NAME=smartqueue
DB_USER=smartqueue
DB_PASSWORD=smartqueue_password
DB_PORT=5438

# Веб-приложение
WEB_PORT=8000
DEBUG=False
SECRET_KEY=your-super-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com
